@using Mandatory_Assignment.Models 

@model Mandatory_Assignment.Models.Reservation


<h2 class="centralize fat">Congratulations! Your booking was successful!</h2>

<p>Here are your order details:</p>

<section class="invoice-type">
    <h3>Customer information</h3>
    <p class="invoice-type__line"><span class="invoice-type__label invoice-type__label--long">Name:</span> @Model.Customer.Firstname @Model.Customer.Lastname</p>
    <p class="invoice-type__line"><span class="invoice-type__label invoice-type__label--long">Address:</span> @Model.Customer.Address | @Model.Customer.Zipcode @Model.Customer.City</p>
    <p class="invoice-type__line"><span class="invoice-type__label invoice-type__label--long">Contact email:</span> @Model.Customer.Email</p>
    <p class="invoice-type__line"><span class="invoice-type__label invoice-type__label--long">Contact phone:</span> @Model.Customer.Phone</p>
</section>

<section class="invoice-type">
    <h3>Reservation information</h3>
    <p class="invoice-type__line"><span class="invoice-type__label invoice-type__label--long">Pet name:</span> @Model.PetName</p>
    <p class="invoice-type__line"><span class="invoice-type__label invoice-type__label--long">Pet specie:</span> @Model.Specie (@ViewBag.repository.Prices[Model.Specie] DKK per day)</p>
    <p class="invoice-type__line"><span class="invoice-type__label invoice-type__label--long">Period of stay:</span> @Model.StartDate.ToShortDateString() to @Model.EndDate.ToShortDateString()</p>
    <p class="invoice-type__line"><span class="invoice-type__label invoice-type__label--long">Total amount of days:</span> @Model.EndDate.Subtract(Model.StartDate).TotalDays</p>
    <p class="invoice-type__line"><span class="invoice-type__label invoice-type__label--long">Total amount to pay:</span> @( ViewBag.repository.Prices[Model.Specie] * (Model.EndDate.Subtract(Model.StartDate).TotalDays) ) DKK</p>
</section>

<h3 class="centralize">Please remember to bring the appropriate sum of money along with your beloved pet.</h3>