@model Mandatory_Assignment.Models.Reservation

<p>
    @Model.Customer.Firstname @Model.Customer.Lastname<br />
    @Model.Customer.Address<br />
    @Model.Customer.Zipcode @Model.Customer.City<br />
    <br />
    Species: @Model.Specie<br />
    Name: @Model.PetName<br />
    Received by: @if (Model.Employee != null)
    { <span>@Model.Employee.Firstname @Model.Employee.Lastname</span> }
    else
    { <span>none yet</span> } <br />
    Period: @Model.StartDate.ToShortDateString() to @Model.EndDate.ToShortDateString()<br />
    Days: @Model.EndDate.Subtract(Model.StartDate).TotalDays<br />
    Price: @ViewBag.repository.Prices[Model.Specie] DKK per day<br />
    Total: @( ViewBag.repository.Prices[Model.Specie] * (Model.EndDate.Subtract(Model.StartDate).TotalDays) ) DKK<br />
</p>
<hr />