<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pet Paraadise Hotel</title>
    <link href="~/front/dist/main.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header class="header">
        <div class="header__wrapper">
            <div class="logo">
                <a class="logo__link" href="~/">
                    <img class="logo__image" src="~/front/img/logo--large.png" alt="Pet Paradise Hotel logo" />
                </a>
            </div>
            <nav class="menu">
                <div class="menu__wrapper">
                    <ul class="menu__list js-menu__list">
                        <li class="menu__item">@Html.ActionLink("About Us", "Index", "About", new { area = "" }, new { @class = "menu__link" })</li>
                        <li class="menu__item">@Html.ActionLink("Book", "Index", "Booking", new { area = "" }, new { @class = "menu__link" })</li>
                        <li class="menu__item">@Html.ActionLink("Our Services", "Index", "Services", new { area = "" }, new { @class = "menu__link" })</li>
                        <li class="menu__item">@Html.ActionLink("Contact Us", "Index", "Contact", new { area = "" }, new { @class = "menu__link" })</li>
                        <li class="menu__item">@Html.ActionLink("Log In", "Index", "Dashboard", new { area = "Admin" }, new { @class = "menu__link" })</li>
                    </ul>
                    <div class="menu__button">
                        <img class="menu__button--open js-menu__button--open invisible" src="~/front/img/menu--to-close.svg" alt="Click this to close the menu" />
                        <img class="menu__button--closed js-menu__button--closed visible" src="~/front/img/menu.svg" alt="Click this to open the menu" />
                    </div>
                </div>
            </nav>
            <div class="top-heading">
                <h1>PET PARADISE HOTEL</h1>
            </div>
        </div>
    </header>
    <div class="overlay js-overlay invisible"></div>
    <div class="container">
        <div class="wrapper">
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        <div class="wrapper">
            <h3 class="heading centralize">&copy; @DateTime.Now.Year - Pet Paradise Hotel</h3>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.2.0.min.js"></script>
    <script src="~/front/dist/main.js"></script>
</body>
</html>