
@{
    ViewBag.Title = "Index";
}

@using Mandatory_Assignment.Models;
@using Mandatory_Assignment.Infrastructure;

<a href="/Admin/Dashboard">Back To The Dashboard</a>
<br />
<h2>Invoices</h2>

@foreach (Reservation reservation in ViewBag.repository.Reservations)
{
    <p>
        @reservation.customer.firstname @reservation.customer.lastname<br />
        @reservation.customer.address<br />
        @reservation.customer.zipcode @reservation.customer.city<br />
        <br />
        Species: @reservation.specie<br />
        Name: @reservation.petName<br />
        Received by: @reservation.employee.firstname @reservation.employee.lastname<br />
        Period: @reservation.startDate.ToShortDateString() to @reservation.endDate.ToShortDateString()<br />
        Days: @reservation.endDate.Subtract(reservation.startDate).TotalDays<br />
        Price: @ViewBag.repository.Prices[reservation.specie] DKK per day<br />
        Total: @( ViewBag.repository.Prices[reservation.specie] * (reservation.endDate.Subtract(reservation.startDate).TotalDays) ) DKK per day<br />
    </p>
    <hr />
}