
@{
    ViewBag.Title = "Index";
}

@using Mandatory_Assignment.Models;
@using Mandatory_Assignment.Infrastructure;

<h2>Invoices</h2>

@foreach (Reservation reservation in ViewBag.repository.Reservations)
{
    <p>
        @reservation.Customer.Firstname @reservation.Customer.Lastname<br />
        @reservation.Customer.Address<br />
        @reservation.Customer.Zipcode @reservation.Customer.City<br />
        <br />
        Species: @reservation.Specie<br />
        Name: @reservation.PetName<br />
        Received by: @reservation.Employee.Firstname @reservation.Employee.Lastname<br />
        Period: @reservation.StartDate.ToShortDateString() to @reservation.EndDate.ToShortDateString()<br />
        Days: @reservation.EndDate.Subtract(reservation.StartDate).TotalDays<br />
        Price: @ViewBag.repository.Prices[reservation.Specie] DKK per day<br />
        Total: @( ViewBag.repository.Prices[reservation.Specie] * (reservation.EndDate.Subtract(reservation.StartDate).TotalDays) ) DKK per day<br />
    </p>
    <hr />
}