
@{
    ViewBag.Title = "Index";
}

@using Mandatory_Assignment.Models;
@using Mandatory_Assignment.Infrastructure;

<h2>All reservations</h2>

<table>
    <thead>
        <tr>
            <th>Species</th>
            <th>Name</th>
            <th>Arrival</th>
            <th>Owner</th>
            <th>Phone</th>
        </tr>
    </thead>
    @foreach (Reservation reservation in ViewBag.repository.Reservations)
    {
        <tr>
            <td>@reservation.Specie</td>
            <td>@reservation.PetName</td>
            <td>@reservation.StartDate.ToShortDateString()</td>
            <td>@reservation.Customer.Firstname @reservation.Customer.Lastname</td>
            <td>@reservation.Customer.Phone</td>
        </tr>
    }

</table>